.zn-loader {
    position: relative;
    display: block;
    height: 80px;
    width: 80px;
    margin: 16px auto;
}

.zn-loader:after, .zn-loader:before {
    content: '';
    display: block;
    position: absolute;
    height: 64px;
    width: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #949494;
    border-color: #949494 #949494 transparent transparent;
    animation: loader 1.5s ease-in-out infinite;
}

.zn-loader:before {
    animation-delay: .3s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}